
/* ==========================================================================
   Общие стили страницы
   ========================================================================== */

@custom-media --xsmall-viewport (width <= 375px);
@custom-media --small-viewport (width <= 768px);
@custom-media --medium-viewport (width <= 1024px);
@custom-media --large-viewport (width <= 1260px);

body {
    font: 16px/1.5 'Open Sans', Helvetica, Helvetica Neue, Arial;
    font-weight: 300;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

html,
body {
    overflow-y: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}



html, body {
    height: 100%;
}


h1, h2, h3 {
    font-family: 'Roboto Slab', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: normal;
}

a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
    &, &:visited, &:active {
        color: #5b7fbb;
    }
}

.button {
    font-family: 'Roboto';
    font-weight: 400;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #403300;
    background-color: #ffce44;
    background: linear-gradient(to bottom, #ffce44, #ffc12f);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
               0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:visited,
    &:hover,
    &:active {
        color: #403300;
        text-decoration: none;
        background: linear-gradient(to bottom, #eab100, #e49e00);
    }
}

.block {
   padding-top: 87px;
   padding-bottom: 87px;

    @media (--small-viewport) {
       padding-top: 50px;
       padding-bottom: 50px;
    }

   @media (--xsmall-viewport) {
      padding-top: 37px;
      padding-bottom: 37px;
   }

   &-header {
       font-family: 'Roboto Slab', Helvetica, Helvetica Neue, Arial, sans-serif;
       text-align: center;
       margin-bottom: 70px;
       font-size: 50px;
       line-height: 1.24;
       font-weight: 500;

       @media (--xsmall-viewport) {
           font-size: 28px;
           margin-bottom: 25px;
       }
   }
}


/* ===============
    Maximal Width
   =============== */

   .wrapper {
       width: 90%;
       margin: 0 5%;
       /*width: 1260px;*/

       @media (--small-viewport) {
           width: auto;
       }
   }



@media only screen and (width >= 1260px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        /*width: 1170px;*/
        width: 1260px;
        margin: 0 auto;
    }
}
