.footer {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 30px 0;
    background-color: #0c131d;
    text-align: center;

    &-links {
        font-size: 14px;
        margin-bottom: 16px;
    }

    &-link,
    &-link:visited, &-link:hover {
        margin: 0 17px;
        color: #fff;

        @media (--xsmall-viewport) {
            display: block;
            text-align: left;
            line-height: 28px;
            margin: 0;
        }
    }

    &-copyright {
        font-size: 12px;
        color: #b0b4ba;
    }
}
