.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 100;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: transparent;
    transition: background-color 0.3s;

    @media (--medium-viewport) {
        width: 100%;

        &:not(._collapsed) {
            height: 100%;
        }
    }

    & .wrapper {
        @media (--medium-viewport) {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    }

    &._fixed {
        background-color: #fff;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);

        @media (--medium-viewport) {
            background: none;
            box-shadow: none;
        }
    }

    &-control {
        display: inline-block;
        float: left;

        @media (--medium-viewport) {
            position: absolute;
            background-color: #fff;
            width: 100%;
            height: 88px;
        }
    }

    &-control-button {
        display: none;
        background: url('/img/header__icon-cross.svg') center no-repeat;
        cursor: pointer;

        ._collapsed & {
            background-image: url('/img/header__icon-burger.svg');
        }

        @media (--medium-viewport) {
            position: absolute;
            top: 24px;
            left: 24px;
            z-index: 400;
            display: inline-block;
            width: 40px;
            height: 40px;
        }
    }

    &-logo {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 234px;
        height: 81px;
        margin-top: 12px;
        margin-right: 48px;
        background: url('/img/header_logo-white.svg') center no-repeat;
        background-size: 234px 81px;

        @media (--medium-viewport) {
            display: block;
            margin: 0 auto;
            background-image: url('/img/header_logo-mobile.svg');
            background-size: 180px;
            background-position: 40px center;
        }
    }

    &._fixed &-logo {
        background-image: url('/img/header_logo-blue.svg');

        @media (--medium-viewport) {
            background-image: url('/img/header_logo-mobile.svg');
        }
    }

    &-title {
        position: absolute;
        left: 82px;
        top: 28px;
        font: 11px Arial, sans-serif;
        font-style: italic;
        font-weight: bold;
        text-transform: lowercase;
        color: #fff;

        @media (--medium-viewport) {
            visibility: hidden;
        }
    }

    &._fixed &-title {
        color: #7290cb;
    }

    &-content {
        position: relative;

        @media (--medium-viewport) {
            position: absolute;
            overflow: hidden;
            line-height: 28px;
            background-color: #fff;
            left: 0;
            top: 0;
            bottom: 0;
            width: 275px;
            height: 100%;
            padding-top: 88px;
            padding-left: 25px;
            padding-right: 0;
            color: #000;

            /*transition: left 0.3s;*/

            &:not(._collapsed) {
                box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
            }
        }
    }

    @media (--medium-viewport) {
        &._collapsed &-content {
            left: -514px;
        }
    }

    &-action {
        display: inline-block;
        vertical-align: top;
        margin-top: 22px;
        margin-right: 42px;
        font: 14px/18px 'Open Sans', Helvetica, Arial, sans-serif;
        text-transform: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        @media (--medium-viewport) {
            display: inline-block;
            padding: 10px 24px;
            color: #000;
        }

        &._search {
            margin-top: 35px;

            @media (--medium-viewport) {
                display: inline-block;
                background: whitesmoke !important;
            }
        }
    }

    &._fixed &-action {
        &, &:hover, &:visited {
            color: #000;
        }
    }

    &:not(._fixed) &-action {
        margin-right: 40px;
        background: none;
        color: white;
        box-shadow: none;
        border: 1px white solid;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);;
        }

        @media (--medium-viewport) {
            color: #403300;
            border: none;
            background: linear-gradient(to bottom, #ffce44, #ffc12f);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }

    &-carriers {
        display: inline-block;
        margin-top: 28px;

        @media (width >= 1024px) and (width <= 1218px) {
            display: none;
        }

        @media (--medium-viewport) {
            display: block;
        }
    }

    &-carriers-link{
        display: block;
        text-decoration: underline;
        color: #fff;
        &:visited, &:hover, &:active, &:focus {
            color: #fff;
            text-decoration: none;

            @media (--medium-viewport) {
                color: #36c;
            }
        }

        @media (--medium-viewport) {
            color: #36c;
            /*display: none;*/
        }
    }

    &._fixed &-carriers-link {
        &, &:visited {
            color: #36c;
        }
    }

    &._fixed &-auth{
        color: #36c;

        & a {
              color:#36c;
            &:visited,
            &:active,
            &:hover{
                color:#36c;
            }
        }

        &-name{
            color: black;
        }

        &-logout p{
            border-bottom-color:#36c;
        }

        .st0{
            fill:#7290cb;
        }
    }

    &-auth{
        position: absolute;
        right: 235px;
        top:13px;
        padding-left: 20px;
        font: 14px 'Open Sans';
        color: white;

        a {
            color: white;
        }

        @media (--medium-viewport) {
            position: static;
            color: #000;
            padding: 0;
            margin-top: 25px;
        }

        .st0{
            fill:#ffffff;
        }

        @media (--medium-viewport) {
            & .st0 {
                fill: #36c;
            }
        }

        & a {
              color: #fff;

            @media (--medium-viewport) {
                color: #5b7fbb;
            }
            &:visited,
            &:active,
            &:hover{
                color: #fff;

                @media (--medium-viewport) {
                    color: #5b7fbb;
                }
            }
        }

        &-lettercounter{
            position: relative;
            display: inline-block;
            margin-right: 30px;

            &-letter{
                width: 25px;
                height: 15px;
            }

            &-counter{
                min-width: 22px;
                min-height: 20px;
                padding: 4px 5px;
                text-align: center;
                color:white;
                border-radius: 30px;
                background: #a6a4a4;
                position: absolute;
                left:16px;
                top:1px;
                font: 12px Arial;

                &._unread{
                    background: #ef3e00;
                }
            }
        }

        &-faq{
             min-width: 22px;
             min-height: 20px;
             padding: 4px 5px;
             text-align: center;
             color:white !important;
             border-radius: 30px;
             background: #a6a4a4;
             position: absolute;
             left:180px;
             top:1px;
             font: 12px Arial;
             text-decoration: none;

            @media (--medium-viewport) {
                top: 211px;
                left: 200px;
            }
         }

        &-roublecounter{
            position: relative;
            display: inline-block;
            text-decoration: none;

            &:hover,
            &:visited,
            &:active{
                text-decoration:none;
            }

            &-icon{
                width:  22px;
                height: 22px;
            }

            &-amount{
                vertical-align: bottom;
            }
            &-amount:active, &-amount:visited, &-amount:focus, &-amount:hover{
                 text-decoration: none !important;
            }
        }

        &-name{
            margin:8px 0 0 0 ;
        }

        &-link{
            display: inline-block;
            margin:7px 15px 0 0;
        }

        &-register{
            margin-right: 20px;
        }

        &-logout{
            display: inline-block;
            text-decoration: none;
            margin:7px 0 0 0;

            & p{
                border-bottom:2px dotted white;
                display: inline-block;
                line-height: 1.0;
                margin:2px 0 0 0;
                vertical-align: top;

                &:hover{
                    border-bottom:none;
                }
            }

            &-icon{
                width: 16px;
                height: 16px;
                vertical-align: top;
                margin-left: 5px;
            }
        }

        @media (--medium-viewport) {
            font-size: 18px;

            &-register,
            &-logout {
                padding: 4px 0;

                &, &:active {
                    display: block;
                    margin: 7px 0;
                    color: #5b7fbb;
                }
            }

            &-logout p {
                border: none;
                text-decoration: underline;
                /*display: block;*/
                vertical-align: top;
                line-height: 1;

                &:hover {
                    text-decoration: none;
                }

                & + svg {
                    margin-top: 3px;
                }
            }
        }

    }

    &-support {
        position: fixed;
        top: 13px;
        right: 50px;
        font-size: 12px;
        color: #ccc;
        text-align: right;

        @media (--medium-viewport) {
            /*font-size: 18px;*/
            position: static;
            text-align: left;
            color: #000;
        }
    }

    &._fixed &-support {
        color: #9a9a9a;

        @media (--medium-viewport) {
            color: #000;
        }
    }

    &-support-link {
        font-size: 14px;
        border-bottom: 2px #fff dotted;
        cursor: pointer;

        &,
        &:visited,
        &:focus,
        &:hover{
            text-decoration: none;
            color: #fff;
        }

        &:hover {
            border-bottom: none;
        }

        @media (--medium-viewport) {
            border-bottom-color: #000;
            font-size: 18px;
            color: #000;
            display: none;
        }
    }

    &._fixed &-support-link {
        &, &:visited {
            color: #36c;
            border-bottom-color: #36c;
        }

        @media (--medium-viewport) {
            border-bottom-color: #000;
            color: #000;
        }
    }

    &-phone {
        font: 22px/1.7 'Roboto Slab', Helvetica, Arial, sans-serif;
        color: #fff;

        @media (--medium-viewport) {
            /*font-size: 32px;*/
            color: #000;
        }
    }

    &._fixed &-phone {
        color: #000;

        @media (--medium-viewport) {
            color: #000;
        }
    }
}

.logo {
    width: 200px;
    height: 70px;
}

.action-button {
    display: inline-block;
    margin: 0 12px;
}

.phone {
    font-size: 21px;
}

._seolinks{
    position: absolute;
    left:-99999px;
}

._regblock{
    margin-top: 23px;
}

.login-modal{
    width: 550px;
    min-height: 400px;
    position: fixed;
    left:50%;
    margin-left: -275px;
    z-index: 5000;
    background: white;
    top:150px;
    border-radius:5px;

    &.support-modal {
        min-height: 520px;
        top: 50px;
    }

    & .close{
        position: absolute;
        top:20px;
        right: 25px;

        &::selection{
            background: none;
        }
    }

    & .title{
        text-align: center;
        margin: 40px 0 0 0;
        font: 32px "Roboto Slab";
    }

    & .text{
        text-align: center;
        font-size: 14px;
        margin-top: 5px;
    }

    & .row{
        margin:20px 0 0 0;
        width: 100%;

        & label,
        & input{
            display: block;
            margin-left:155px;
        }

        & input, textarea{
            width: 250px;
            border-radius:3px;
            border:1px solid #e5e5e5;
            padding: 5px;
            font-size: 14px;
        }

        & textarea{
            position: relative;
            left: 155px;
        }

        & label{
            font-weight: normal;
            font-size: 14px;

            & sup{
                color:#ffaa30;
            }
        }

        & .wat{
            color: #5b7fbb;
            cursor: help;
            border-bottom: 1px dotted #5b7fbb;
            margin: 0 0 0 10px;
            display: inline-block;
            line-height: 13px;
        }

        & .forgot{
            margin-left: 10px;
        }

    }

    & .chto_takoe{
        position: relative;

        &:hover p{
            display:block;
        }

        & p{
            display: none;
            position: absolute;
            left:65px;
            top:-90px;
            width: 230px;
            padding: 10px;
            border:1px solid grey;
            background: rgba(255,170, 48, .3);
            font-size: 12px;
        }
    }

    & .dib{
        display: inline-block;
    }

    & .auto_butt{
        border: none;
        text-transform: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.2);
        position: absolute;
        left:273px;
        top:320px;
        font-size: 14px;
        padding: 10px 20px;
    }

    & .auto_butt.support_butt{
        left: 187px;
        position: relative;
        top: 5px;
     }

    & .register{
        position: absolute;
        top:330px;
        left:155px;
        font-size: 14px;
    }
}
