/* ==========================================================================
   Панель о преимуществах
   ========================================================================== */

.advantages {
    background-color: #f9f8f3;

    &-list {
        margin-bottom: -40px;
        text-align: justify;

        &:after {
            display: inline-block;
            content: '';
            width: 100%;
            height: 0;
            background-color: red;
        }
    }

    &-item {
        vertical-align: top;
        margin-bottom: 40px;
        padding-top: 127px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 108px;

        &._economy {
            background-image: url('/img/advantages_clock.svg');
        }

        &._insurance {
            background-image: url('/img/advantages_defence.svg');
        }

        &._price {
            background-image: url('/img/advantages_coins.svg');
        }

        &._tracking {
            background-image: url('/img/advantages_map.svg');

            @media (--xsmall-viewport) {
                display: none;
            }
        }

        &._solid {
            background-image: url('/img/advantages_certificate.svg');

            @media (--xsmall-viewport) {
                display: none;
            }
        }

        &._notifications {
            background-image: url('/img/advantages_ring.svg');

            @media (--xsmall-viewport) {
                display: none;
            }
        }
    }

    &-title {
        font: 19px/1 'Roboto', Helvetica, Arial, sans-serif;
        margin: 0 0 14px;

        @media (--small-viewport) {
            font-size: 36px;
        }

        @media (--xsmall-viewport) {
            font-size: 24px;
        }
    }

    &-description {
        margin: 0;

        @media (--small-viewport) {
            font-size: 26px;
        }

        @media (--xsmall-viewport) {
            font-size: 18px;
        }
    }
}
