.billboard {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: url('/img/billboard.jpg') center repeat;

    &-container {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        min-height: 670px;
        background-color: gray;
    }

    &-content {
        display: inline-block;
        color: #fff;
    }

    &-title {
        font-size: 60px;
        font-weight: 400;
        line-height: 66px;
        margin-bottom: 48px;

        @media (--xsmall-viewport) {
            font-size: 30px;
            line-height: 38px;
            margin: 0 12px 20px;
        }
    }

    &-slogan {
        font: 21px/32px 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 300;
        margin-bottom: 80px;
    }

    &-button {
        display: inline-block;
        text-transform: uppercase;
    }
}

._arrowdown{
    width: 40px;
    height: 40px;
    position: absolute;
    top:100%;
    left:50%;
    margin-top:-100px;
    margin-left:-20px;
    opacity: .7;
    cursor: pointer;

    @media (--medium-viewport) {
        display: none;
    }
}
._arrowdown:hover{
    opacity: 1;
}
