/* ==========================================================================
   Панель дополнительных возможностей для сотрудничества
   ========================================================================== */

.collaboration {
    &-content {
        text-align: justify;

        &:after {
            display: inline-block;
            content: '';
            width: 100%;
        }
    }

    &-option {
        /*display: inline-block;*/
        /*width: 24%;*/
        vertical-align: top;
        text-align: center;
        padding-top: 130px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 121px;

        &._private {
            background-image: url('/img/collaboration_private.svg');
        }

        &._company {
            background-image: url('/img/collaboration_company.svg');
        }

        &._ecommerce {
            background-image: url('/img/collaboration_ecommerce.svg');
        }

        &._application {
            background-image: url('/img/collaboration_application.svg');
        }

        @media (--medium-viewport) {
            margin-bottom: 40px;
            padding-top: 90px;
        }

        @media (--small-viewport) {
            margin-bottom: 40px;
            padding-top: 90px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-title {
        font-size: 18px;
        margin-bottom: 16px;

        @media (--small-viewport) {
            font: 24px 'Roboto', Helvetica, Arial, sans-serif;
        }
    }

    &-description {
        @media (--small-viewport) {
            font-size: 18px;
        }
    }
}
