.contacts {
    padding: 50px 0;

    color: #fff;
    background-color: #28384e;

    a, a:visited, a:hover {
        color: #fff;
    }

    &-section {
        font-size: 14px;
        float: left;

        /*&._address,
        &._mobile {
            width: 25%;
        }

        &._phone,
        &._email,
        &._social {
            width: 16.6%;
        }*/

        &._social img{
            /*width: 30px;
            height: 30px;*/
        }

        &._mobile{
            color: #b2b6bb;
            font: 12px 'Open Sans Regular', Helvetica, Arial, sans-serif;
        }

        &._mobile a{
            display: block;
        }

        &._mobile img{
            margin-top:10px;
            width: 127px;
            height: 47px;
        }

        @media (--small-viewport) {
            margin-bottom: 30px;

            &._email {
                margin-bottom: 0;
            }
        }
    }

    &-section._mobile &-title{
        margin-bottom: 0;
    }

    &-title {
        font: 18px Roboto, Helvetica, Arial, sans-serif;
        margin-bottom: 11px;
        color: #b2b6bb;
    }
}
