.description {
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    color: #2f3e4a;


    &-header .block-header{
        margin-bottom:0px;
    }

    & .wrapper {
        margin: 0 auto;

        @media (--small-viewport) {
            width: 90%;
            margin: 0 5%;
        }
    }

    &-header-text {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 24px;
        margin: 0;
        padding-bottom: 70px;
        text-align: center;

        @media (--large-viewport) {
            padding-bottom: 40px;
        }

        @media (--small-viewport) {
            margin: 0;
        }
    }

    &-menu {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        margin-bottom:40px;

        @media (--large-viewport) {
            margin-bottom: 0;
        }

        @media (--small-viewport) {
            display: none;
        }
    }

    &-list {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: top;
        /*padding-left: 35px;*/
        width: 100%;

        @media screen and (width <= 1260px) {
            width: 710px;
        }
    }

    &-menu-item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 290px;
        height: 88px;
        padding: 5px 20px;
        text-align: left;
        color: #354B6E;
        border: 2px #f1f4fa solid;
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;

        background-repeat: no-repeat;
        background-position: left center;
        background-size: 60px 70px;

        &:hover,
        &._active {
            color: #7290cb;
        }

        &._active {
            border-color: #7290cb;
            cursor: default;
        }

        &:hover path,
        &._active path {
            fill: #7290cb;
        }

        &._flat .description-item-icon {
            top: 10px;
        }

        &._other &-item-icon {
            width: 30px;
        }

        @media screen and (width <= 1260px) {
            /*width: 60%;*/
            /*background-color: red;*/
            margin: 0 30px 40px;
        }
    }

    &-item-icon {
        display: block;
        position: absolute;
        width: 60px;
        height: 70px;
        top:5px;
    }

    &-label {
        display: table-cell;
        height: 78px;
        vertical-align: middle;
        position: relative;
        margin-bottom: 0;
        padding-left: 70px;
        line-height: 1.5;


    }

    &-blocks {
        width: 100%;
        height: 1532px;
        position: relative;

        @media (--large-viewport) {
            width: 100%;
            height: auto;
        }
    }

    &-block {
        overflow: hidden;
        opacity: 1;
        transition: opacity .5s ease-out;
        position: absolute;

        @media (--large-viewport) {
            position: static;
        }

        @media (--small-viewport) {
            position: static;
        }
    }

    &-block._hidden{
        opacity: 0;

        @media (--large-viewport) {
            display: none;
        }

        @media (--small-viewport) {
            display: none;
        }
    }

    &-block>div:nth-child(odd){
        z-index: 2;
        position: relative;
    }

    &-block>div:nth-child(even){
        margin-left: -200px;
        z-index: 1;
        position: relative;

        @media (--large-viewport) {
            margin: 0;
        }
    }

    &-block-text {
        width: 711px;
        padding-left: 35px;
        float: left;
        height: 500px;
        margin-top: 40px;
        border-bottom:1px solid #eeeeee;

        @media (--large-viewport) {
            border: none;
            float: none;
            margin: 0;
            height: auto;
            padding: 0;
            text-align: left;
        }

        @media (--small-viewport) {
            width: auto;
            height: auto;
            float: none;
            margin: 0;
            padding: 0 0 60px;
            /*border: none;*/
        }

        &-number{
            font-size: 50px;
            color:#7290cb;
            font-weight: lighter;
            width: 90px;
            height: 90px;
            border:2px solid #7290cb;
            border-radius: 100px;
            text-align: center;
            vertical-align: middle;
            line-height: 85px;
            margin: 35px 0 0 0;

            @media (--large-viewport) {

            }

            @media (--small-viewport) {
                display: block;
            }

            @media (--xsmall-viewport) {
                margin: 0 auto;
            }
        }

        &-title {
            font-size: 50px;
            color:#2f3e4a;
            font-weight: lighter;
            line-height: 1.2;
            margin:30px 0 0 0;
            max-width: 620px;

            @media (--xsmall-viewport) {
                font-size: 28px;
            }
        }

        &-little {
            font-size: 20px;
            color:#2f3e4a;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            line-height: 1.5;
            margin:35px 0 0 0;
            max-width: 550px;

            @media (--small-viewport) {
                display: none;
            }
        }

        &._flat-step2 {
            padding-left: 105px;
            width: 641px;
        }
    }

    &-block-image {
        width: 746px;
        float: left;
        height: 500px;
        margin-top: 40px;
        border-bottom:1px solid #eeeeee;

        @media (--large-viewport) {
            position: static;
            display: none;
            float: none;
            width: auto;
            height: auto;
            margin: 0;

            @media (--large-viewport) {
                & img {
                    position: static !important;
                }
            }

            &:nth-child(2) {
                display: block;
                text-align: right;
                margin-bottom: 60px !important;
            }
        }

        @media (--small-viewport) {
            display: none !important;
        }

        .other-step1{
            position: absolute;
            right: 0;
            bottom:0;
            height:inherit;
            width: 730px;
        }

        .other-step2{
            position: absolute;
            left: 35px;
            bottom:30px;
            height:465px;
            width: 500px;
        }

        .other-step3{
            position: absolute;
            right: 240px;
            top:155px;
            height:165px;
            width: 225px;
        }

        .flat-step1{
            position: absolute;
            right: 0;
            bottom:0;
            height:530px;
            width: 680px;
        }

        .b2b-step1{
            position: absolute;
            right: 0;
            bottom:0;
            height:510px;
            width: 710px;
        }

        .car-step1{
            position: absolute;
            right: 0;
            bottom:0;
            height:510px;
            width: 710px;
        }

    }


}
