.feedbacks {
    background-color: #f9f8f3;

    &-feedback {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (--small-viewport) {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 52px;
        }
    }

    &-profile {
        width: 165px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        /*padding-top: 45px;*/

        @media (--small-viewport) {
            width: 100%;
            display: block;
        }
    }

    &-feedback:nth-child(2n+1) &-profile {
        /*float: right;*/
    }

    &-photo {
        margin-bottom: 8px;
    }

    &-name {
        font-size: 19px;
        line-height: 1.25;
        font-weight: 400;
        height: 50px;
        margin-bottom: -50px;
    }

    &-position {
        display: block;
        font-size: 14px;
        font-weight: 300;
        /*margin-bottom: -60px;*/
    }

    &-text {
        display: table-cell;
        padding-left: 30px;
        vertical-align: middle;

        @media (--small-viewport) {
            display: block;
            margin-bottom: 48px;
            padding-left: 0;
        }
    }

    &-feedback:nth-child(2n+1) &-text {
        padding-right: 30px;
    }

    &-quote {
        border: none;
        font-size: 15px;
        line-height: 22px;
        margin: 0;
        padding: 28px 35px;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
        position: relative;
        z-index: 5;

        &:before,
        &:after {
            position: absolute;
            z-index: 4;
            left: -10px;
            top: 50%;
            display: block;
            margin-top: -10px;
            width: 20px;
            height: 20px;

            content: '';
            transform: scaleX(1.5) rotate(45deg);
        }

        &:before {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.28);
        }

        &:after {
            background-color: white;
            width: 30px;
            height: 30px;
            margin-top: -15px;
        }

        @media (--small-viewport) {
            &:before,
            &:after {
                top: auto;
                left: 50%;
                bottom: -10px;
                margin-top: auto;
                margin-left: -10px;
                transform: scaleY(1.5) rotate(45deg);
            }

            &:after {
                margin-top: auto;
                margin-left: -15px;
            }
        }
    }

    &-feedback:nth-child(2n+1) &-quote {
        &:before,
        &:after {
            left: auto;
            right: -10px
        }
    }

    &-link {
        display: block;
        margin-top: 20px;
        font-size: 13px;
    }

    &-all {
        text-align: center;
    }

    &-button,
    &-button:visited {
        background-color: #3ec55f;
        box-shadow: none;
        display: inline-block;

        &:hover {
            background-color: #64da7c;
        }
    }
}
