/* ==========================================================================
   Панель с кнопкой-действия
   ========================================================================== */

.inquiry {
    color: #fff;
    background-color: #7290cb;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (--small-viewport) {
        padding: 50px 0;
    }

    @media (--xsmall-viewport) {
        padding: 37px 0;
    }

    &-content {
        margin-bottom: 50px;

        font-size: 24px;
        text-align: center;

        @media (--xsmall-viewport) {
            margin-bottom: 30px;
        }
    }

    &-arc {
        display: none;
        position: absolute;
        left: 280px;
        top: -20px;
        width: 293px;
        height: 37px;
        background: url('/img/inquiry_arc-up.svg') center no-repeat;

        &._down {
            left: 670px;
            top: 70px;
            background-image: url('/img/inquiry_arc-down.svg');
        }

        @media (--medium-viewport) {
            display: none;
        }
    }

    &-steps {
        font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
        margin-bottom: 41px;
        padding: 0;
        position: relative;

        @media (--medium-viewport) {
            text-align: left;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
        }

        @media (--xsmall-viewport) {
            margin-bottom: 0;
        }
    }

    &-step {
        font-size: 26px;
        display: inline-block;
        text-align: center;
        /*width: 381px;*/

        &:before {
            display: inline-block;
        }

        @media (--medium-viewport) {
            display: block;
            text-align: left;
            margin-bottom: 30px;
            width: auto;
        }

        @media (--xsmall-viewport) {
            font-size: 18px;
            text-align: left;
            margin-bottom: 30px;
        }
    }

    &-step-number {
        font-size: 50px;
        line-height: 85px;
        display: block;
        width: 90px;
        height: 90px;
        margin: 0 auto 22px;
        vertical-align: middle;
        color: #fc0;
        border: 2px solid #fff;
        border-radius: 45px;

        @media (--medium-viewport) {
            text-align: center;
            display: inline-block;
            margin: 0 30px 0 0;
        }

        @media (--xsmall-viewport) {
            font-size: 24px;
            width: 45px;
            height: 45px;
            line-height: 40px;
            margin-right: 15px;
        }
    }

    &-button {
        display: inline-block;
    }
}
