.numbers {
    &-content {
    }

    &-item {
        font-size: 20px;
        text-align: center;
        vertical-align: top;

        @media (--small-viewport) {
            font-size: 24px;
            margin-bottom: 50px;

            &:nth-child(2) {
                margin-bottom: 0;
            }
        }

        @media (--xsmall-viewport) {
            font-size: 14px;
            margin-bottom: 30px;
        }

        &._clients,
        &._carriers {
            /* */
        }

        &._support {
            @media (--small-viewport) {
                display: none;
            }
        }
    }

    &-number {
        font-family: 'Roboto Slab';
        display: block;
        font-size: 52px;
        margin-bottom: 25px;
        text-align: center;
        white-space: nowrap;

        @media (--small-viewport) {
            margin-bottom: 26px;
        }

        @media (--xsmall-viewport) {
            margin-bottom: 15px;
        }
    }

    &-char {
        position: relative;
        color: #7290cb;
        font-style: normal;
        line-height: 70px;
        display: inline-block;
        width: 50px;
        margin-right: 5px;
        text-align: center;
        border-radius: 2px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

        &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.5);
            background: linear-gradient(to bottom, transparent 35%, rgba(0, 0, 0, 0.02) 50%, transparent 50%, transparent)
        }

        @media (--small-viewport) {
            font-size: 67px;
            width: 70px;
            line-height: 90px;
            font-weight:400;
        }

        @media (--xsmall-viewport) {
            font-size: 47px;
            width: 32px;
            line-height: 58px;
            font-weight:400;
        }
    }
}
