.sitemap {
    background-color: #f9f8f3;
    padding-top: 56px;
    padding-bottom: 56px;

    &-content {
        font-size: 13px;
        color: #2f3e4a;
        text-align: justify;

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }

    a {
        color: inherit;
    }

    &-category {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    &-category-header {
        font: 19px 'Roboto', Helvetica, Arial, sans-serif;
        margin: 0 0 30px;
        color: #a0a4a5;
    }
}
